# macOS
.DS_Store

# .NET Specific - Alt klasörleri de kapsaması için **/ eklendi
**/[Bb]in/
**/[Ob]j/
**/.vs/
*.user
**/.env
appsettings.Development.json
**/obj/
**/bin/


# Xcode / iOS
**/build/
**/DerivedData/
**/*.xcuserstate
**/xcuserdata/
